body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: white;
  background-color: #123647;
}

h1 {
  font-size: 32px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  background-color: #092431;
  border-radius: 12px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #bedef0;
  border: 2px solid #273D47;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  transition: 0.3s;
}

.square:focus {
  outline: none;
}

.button {
  margin: 5px;
  color: white;
  background-color: #257194;
  font-size: 24px;
  padding: 5px;
  border: 0px;
  width: 25%;
  border-radius: 12px;
}

.button:hover {
  background-color: #0f4761;
  transition: 0.3s;
}

.button:active {
  background-color: #092431;
}

.button:disabled {
  opacity: 0.;
}

.puzzle .square:hover {
  background-color: #4095C7;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.solver {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 40px;
}

.board {
  margin: 10px;
}

h2 {
  text-align: center;
}
